<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycompany.grifon.mm_pre_alpha">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-permission android:name="android.permission.INTERNET" />
    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_change_history_black_48dp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_change_history_black_48dp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.mycompany.mm_pre_alpha.ui.LoginActivity"
            android:label="MM">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mycompany.mm_pre_alpha.ui.NewsActivity"
            android:label="@string/action_news"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.mycompany.mm_pre_alpha.ui.SubscribersActivity"
            android:label="@string/action_subscribers"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.mycompany.mm_pre_alpha.ui.MusicActivity"
            android:label="@string/action_music"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.mycompany.mm_pre_alpha.ui.ProfileActivity"
            android:label="@string/action_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.mycompany.mm_pre_alpha.ui.ChatActivity" />
        <activity android:name="com.mycompany.mm_pre_alpha.ui.SearchMusicActivity" />
        <activity
            android:name="com.mycompany.mm_pre_alpha.ui.SubscriptionsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.mycompany.mm_pre_alpha.ui.AllUsersActivity"
            android:label="@string/title_activity_all_users"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.mycompany.mm_pre_alpha.ui.splash.SplashActivity"
            android:theme="@style/SplashTheme" />
        <activity android:name="com.mycompany.mm_pre_alpha.ui.AddSongToPostActivity" />

        <activity android:name="com.mycompany.mm_pre_alpha.ui.MyProfileActivity"/>
        <activity android:name="com.mycompany.mm_pre_alpha.ui.profile.user.UserProfileActivity"/>
    </application>

</manifest>